[Unit]
Description=Manage state changes between rndis and mtp
Requires=lxc@android.service
After=phosh.service

[Service]
Type=oneshot
ExecStartPre=-chown droidian:droidian /dev/mtp_usb
ExecStart=/usr/sbin/mtp-configfs

[Install]
WantedBy=graphical.target
